{% extends 'blog/base.html' %}

{% block content %}
    <h1>Запись в журнал</h1>

    <form method="POST">
    {% csrf_token %}
    
    <div class="input-group mb-3">
        <select name="student" class="custom-select">
          <option selected>Студент</option>
            {% for option in form.student %}
          <option value="{{option.student}}">{{option}}</option>
            {% endfor %}
        </select>
        <select name="lab" class="custom-select">
                <option selected>Лабораторная</option>
                  {% for option in form.lab %}
                <option value="{{option.lab}}">{{option}}</option>
                  {% endfor %}
        </select>
        <div class="input-group-append">
            <button type="submit" class="btn more_dark_blue">Сохранить</button>
        </div>
      </div>
 
   
    </form>

{% endblock %}
