{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">


    {% for doc in studydoc_list %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                    <h1 class="display-4">>{{ doc.name }}</a></h1>
                    <div class="date">
                        <p class="lead">Курс: {{ doc.course}}</p>
                    </div>
                    <a class="btn more_dark_blue" href="{{ doc.document.url}}" download>
                            <img src='{% static "icons/download.png" %}' alt='remove'>
                            Скачать</a>
                    <div class="btn-group" role="group" aria-label="Basic example">
                    {% if user.is_authenticated and user == doc.teacher.user %}
                    <div calss="container">
                        <a class="btn more_dark_blue" href="{% url 'docdet' pk=doc.pk %}" role="button">
                            <img src='{% static "icons/garbage.png" %}' alt='remove'>
                             Удалить</a>
                    </div>
                    </div>
                    {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
